body { color: #333232;  font-weight: normal; font-size: 15px; font-family: Georgia, Arial, "Times New Roman"; margin: 0 10%; background: #fff;
}
	a {text-decoration: none;  font-family: Arial, "Times New Roman"; font-weight: normal; color:#003399; }
	a:hover {text-decoration:underline; color:#003399}
	p {text-indent: 15px; margin: 0 10px 10px 10px; text-align: justify; font-weight: normal;}
	p a {font-size: 14px; }
	hr {border: none; /* Убираем границу для браузера Firefox */
     color: #D7D7D7; /* Цвет линии для браузера Internet Explorer */
     background-color: #D7D7D7; /* Цвет линии для браузера Firefox и Opera */
     height: 1px; /* Толщина линии */
	 width: 80%}

.vid_ss a {color:#333232}
	 img {border: none}
.head {background:  #fff url(IMG/logo.png) 50px 45% no-repeat;
	width: 100%;
border: none;
}
#calendar {font-size: 95%; padding-bottom: 5px}
.struktura  {
width: 96%; /* Ширина */
float: left; /* Блоки выстраиваются по горизонтали */

margin: 0 3px 10px 0; /* Отступы */
padding-bottom: 5px;
border-bottom: #C3D7D4 1px dotted;
display: table-cell
}
#osnovnoe {        
border: none;
margin: 0 31% 0 10px;
}

#content_right {
     margin-top:10px;   float: right;
	width: 30%;border: none;
}

#content_right h2 {margin-right: 10px}

.box  .date {font-size: 100%;}
.box a {color: #003399}
.box {font-size: 90%;
	position: relative;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ccc;
}
	.box p {text-indent: 5px; margin: 0 7px 5px 7px; text-align: left;}

	.box_arhi  .date {font-size: 100%;}
.box_arhi {font-size: 90%;
	position: relative;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
	background-color: #fff;
	 border: 1px solid #ccc;
}
	.box_arhi p {text-indent: 5px; margin: 0 7px 5px 7px; text-align: left;}

h3 {font-size: 190%;font-weight: normal;
	position: relative;
	text-align: left;
	width: 75%;
	padding: 0 20px 6px 30px;
	margin: 0 10px 10px -31px;
	color: #999;
font-family: 'Calibri Light', arial}

 #footer { 
    clear: both; /* Отменяем действие float */
	margin: 10px 0 0 0;
		background: #999;
        color: #F8F7F7;
   }
#footer a {color: #EEECEC;}
   
   
.date {font-size: 95%;
		background: none;
		color: #943A3A; font-family: 'Arial Narrow'; font-weight:normal; 
		}
.oblozka:hover {opacity: .85; text-decoration: none; }

 a img:hover {opacity: .8;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* this works in IE6, IE7, and IE8 */}
.title {font-family: Georgia, Arial,"Times New Roman";color:#003399;font-weight:normal; font-size: 16px;}
.title a {font-family: Georgia, Arial,"Times New Roman";color:#003399;font-weight:normal ; font-size: 16px;text-decoration: none;}
.title a:hover {text-decoration: underline;}
.views {color: #6E6D6D;}

.block_title {margin-bottom: 5px; margin-left: 10px}
#new_day .block_title {border-bottom: 5px solid #F8FCBE;margin: 0 40% -2px 0; padding: 0 0 5px 0; display: table-cell}	
#new_day { display: block;margin: 0 10px 10px 0; padding: 5px; float:left }
#new_day .block_title .title a {font-size: 18px}
#new_day p {font-size: 16px}

.index_block {
background: #fff; /* Цвет фона */
padding: 5px; /* Поля вокруг */
display: block; /* Блочный элемент */
width: 46%; /* Ширина */
float: left; /* Блоки выстраиваются по горизонтали */
margin: 3px 3px 5px 3px; /* Отступы */
border: none; 
}
	 h1 {font-family: 'Calibri Light', Arial;font-weight: normal;color: #393939; text-align: center;  font-size: 40px; margin: 5px 15px 7px 0; border-bottom: 5px solid #EDEEEF; padding: 0 0 5px 0
}
 .sinfo h2 {text-align: left;margin-bottom: 15px; padding: -3px;}
 .sinfo {width: 100%;text-align: left;}
 .item {margin: 0 0 10px 15px;}
 .dt {font-size: 95%;
		background: none;
		color: #943A3A; font-family: 'Arial Narrow'; font-weight:normal; }
 h2 {font-size: 150%;
background: none; margin: -3px; padding: -3px; border-bottom: 5px solid #EAEAEA;font-family: 'Calibri Light', arial; font-weight: normal;color: #5C5C5C; 
}
h2 a { text-decoration: none;
background: none; margin: -3px; padding: -3px; border-bottom: 5px solid #EAEAEA;font-family: 'Calibri Light', arial; font-weight: normal;color: #5C5C5C; }
h2 a:hover {text-decoration: none;color: #5C5C5C; opacity: 0.7}
.index_block p {text-align: left;}
.index_block_padre {
background: #fff; /* Цвет фона */
padding: 5px; /* Поля вокруг */
display: block; /* Блочный элемент */
width: 95%; /* Ширина */
float: left; /* Блоки выстраиваются по горизонтали */
margin: 3px 3px 5px 3px; /* Отступы */
border: none; 
}
 h2 {font-size: 150%;
background: none; margin: -3px; padding: -3px; border-bottom: 5px solid #EAEAEA;font-family: 'Calibri Light', arial; font-weight: normal;color: #5C5C5C; 
}
.index_block_padre p {text-align: left;}

.rss {float: right; font-size: 19px;  margin-top: -1px; padding: 7px 5px 0 5px; margin-right: 5px; background-color: #fff; 	border: 1px solid #ccc;}
.rss a {color: #666;}
.rss a:hover {color: #aaa;text-decoration: none;}
   .rss:hover {	
}


div.tabs {

}

div.container { 
margin: auto; 
width: 90%; 
margin-bottom: 10px;
}

ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0 0 0 30px;
}

ul.tabNavigation li {
display: inline;
padding: 0 0 0 5px;
}

ul.tabNavigation li a {
padding: 3px 9px;
background-color: #E3E2E2;
color: #000;
text-decoration: none; border: #BEC7BE 1px; border-style: solid solid none solid; 
border-radius: 5px 5px 0 0;
 font-weight: normal;
 font-size: 16px;box-shadow: 2px -1px 5px rgba(0,0,0,0.3);

}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
padding: 4px 9px;
background: #FFF;
color: #000;
cursor: default;
border-bottom:#fff 1px solid;
box-shadow: 2px -2px 2px rgba(0,0,0,0.3);}

ul.tabNavigation li a:hover {
 background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
}

ul.tabNavigation li a:focus {
outline: 0;
}

div.tabs div {
box-shadow: 2px 2px 2px rgba(0,0,0,0.5);  border: #BEC7BE 1px solid; margin: 3px 10px 15px 10px; padding: 5px
}

.tabs  h3 {
margin-top: 0;
}
#toTop
{
display: block;
display: none;

/* ссылка над всеми элементами */
z-index: 999;

/* ссылка не заслоняет полностью текст под ней */
opacity: .8;
text-decoration: underline;
/* ссылка всегда на одном и том же месте */
position: fixed;
font-family: Georgia, Arial, "Times New Roman";
/* ссылка внизу страницы */
font-weight: none;
/* ссылка по центру */
 bottom: 20px; left: 20px
}

#toTop:hover {opacity: 1;cursor: pointer;}
#message a:hover {text-decoration: underline;font-family: Georgia, Arial, "Times New Roman";

}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
   .menu_prihods {width: 97.5%;border:none;	        display: block;
margin: 5px 20px 7px 0; border-bottom: 5px solid #EDEEEF; padding: 0 5px 5px 0;
  height: 20px;background: #fff;}
 
   #menu_prihods { padding: 0;
        margin:0 ;        display: block;
        font-size: 100%;
        font-family: Arial; 
		  width: 100%     }

#menu_prihods li {
        list-style: none;
        float: left;
        padding: 0;
        margin: 0 10px;
        text-align: center;
        background: none;
        position: relative;
		border-top: none;

}
#menu_prihods li ul {
        list-style: none;
        padding: 10px 5px;
        margin: 0;
		margin-top:1px;
        display: none;
        position: absolute;
        left: 0;
		z-index: 2; 
		border: none;			
		box-shadow:0 2px 4px rgba(0,0,0,0.5);
		background: #fff;  
		width: 180px}
		
#menu_prihods li ul li {
        float: none;
        margin: 0;
		        padding: 0 5px;

        text-align: left;
        background: #fff;
		border-radius: 0 0 0 0;
        }
#menu_prihods li a {
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 16px;
		       cursor: pointer;  
padding: 0 5px; 
		 font-weight: normal;font-family: Arial, "Times New Roman"; text-decoration: none; 
		}
	
	.menu_title {border-bottom: 1px dotted #000}
		.menu_title:hover {border-bottom: 1px dotted red}

		#menu_prihods li ul:hover {		border: none;				

}
		#menu_prihods li:hover ul, #menu_prihods li.jshover ul {
        display: block;
        }
#menu_prihods li:hover, #menu_prihods li.jshover {
        background: #fff; font-size: 100%; font-weight: normal;font-family: "Times New Roman"; 
        }
		
#menu_prihods a:hover {color:red; }
.text_menu b:hover { font-family: Arial; }
		
		#menu_prihods .menu_none {            		 
        background: #fff; 
        }

#menu_prihods .menu_none a {   color:red; text-decoration:none; font-weight: normal;font-family: Arial, "Times New Roman"; 
}		
#menu_prihods .menu_none ul li a  {  color: red;
        text-decoration: none;
}		
#menu_prihods .menu_none ul li a:hover  {  color:#fff; text-decoration:underline;
}		

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.menu {text-align:left; width: 100%; height: 61px;
margin: 0;
	background: #fff;border-bottom: 1px solid #99cccc;border-top: 1px solid #99cccc;
}
	#slidebox{
    width:80%;
    position:fixed;
    top:-200px; z-index: 500;
    -moz-box-shadow:0 5px 5px #aaa;
    -webkit-box-shadow:0 5px 5px #aaa;
    box-shadow:0 5px 5px #aaa;
        height: 61px;

}

   #menu { padding: 0;
        margin:0 ;
        font-size: 20px;
        font-family: 'Arial Narrow', Arial; 
		border-bottom: none;        }

#menu li {
        list-style: none;
        float: left;
        padding: 10px;
        margin: 0;
        text-align: center;
        background: #fff;
  		border-top: none;
      position: relative;
border-right: none;

}
#menu li ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        display: none;
        position: absolute;
        left: 0;
        top: 57px;
		        background: #fff;
z-index: 2; 
box-shadow: 0 5px 20px rgba(0,0,0,0.3);border: 1px solid #ccc
        }
		#menu li ul::before, #menu li ul::after {content: ''; position: absolute;left: 30px; top: -20px;border: 10px solid transparent;border-bottom: 10px solid #ccc}
#menu li ul::after {border-bottom: 10px solid white;top: -19px}

#menu li a.top {color:red;
}
#menu li a.top:hover {opacity:.7
}

#menu li ul li {
        float: none;
        margin: 0;
		        padding: 10px;

        text-align: left;
        background: #fff;
		        		border-bottom: none;
						
		border-radius: 0 0 0 0;
        }
#menu li a {
        display: block;
        height: 27px;
        color: #444;
        text-decoration: none;
        font-size: 20px;
		       cursor: pointer;  
padding: 0 5px; padding-top: 10px;
		 font-weight: normal;font-family: 'Arial Narrow', arial; text-decoration: none; 
		}
#centr .menu_none {            		 
        background: #fff; 
        }

#centr .menu_none a {   color:#888; text-decoration:none;font-size: 20px; font-weight: normal;font-family: 'Arial Narrow', arial; 
}		
#centr .menu_none ul li a  {  color: #444;
        text-decoration: none;
}		
#centr .menu_none ul li a:hover  {  color:#888; text-decoration:none;
}		

#menu li ul li a {

        height: 100%;
        padding: 0 10px 0 10px;

}		
		
		
#menu li:hover ul, #menu li.jshover ul {
        display: block;
        }
#menu li:hover, #menu li.jshover {
        background: #fff; font-size: 20px; font-weight: normal;font-family: 'Arial Narrow', arial; 
        }
		
#centr a:hover {color:#888; text-decoration:none; }



#menu li ul li ul  {        
        position: absolute;
        left: 100%;
        top: 0;

        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
z-index: 3; 
 }

#menu li ul li ul li {
        display: none;

        float: none;
        margin: 0;
		       

        text-align: left;
        background: #999;
		        		border-bottom: none;
		border-radius: 0 0 0 0;

        }
#menu li ul li ul li a {
        height: 100%;
        padding: 0 10px 0 10px;
}		

#menu li ul li:hover ul li, #menu li ul li.jshover ul li {
        display: block;}
